#bigbox {
    width: 900px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 20px;
}
#box {
    display: flex;
    text-align: center;
}
#column {
    width: 200px;
    margin: auto;
    height: 350px;
}
#picture {
    width: 200px;
    height: 300px;
    padding-top: auto;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    justify-content: center;
}
p {
    justify-content: center;
    text-align: center;
}
